{% extends 'base.html'%}
{% load static %}
{%block title %} Login Page {% endblock %}
{% block css %}
<link rel="stylesheet" href="{% static 'calculadora/css/login_registro.css'%}"> {% endblock %}

{% block content%}

<body class="container py-5">
  <div class="container">
    {% include 'partials/messages.html' %}
    <div class="row justify-content-center">
      <div class="col-12 col-md-6 col-lg-4">
        <div class="card p-4 form-container">
          <h2 class="text-center mb-4">Login</h2>
          <form method="POST">
            {% csrf_token %}
            <div class="mb-3">
              <label for="email" class="form-label">Email</label>
              <input type="email" class="form-control" name="email" required />
            </div>
            <div class="mb-3">
              <label for="senha" class="form-label">Senha</label>
              <input type="password" class="form-control" name="senha" required />
            </div>
            <button type="submit" class="btn btn-primary w-100">Entrar</button>
            <p class="text-center mt-3">Não tem conta? <a href="{% url 'calculator:register' %}">Registre-se</a></p>
          </form>
        </div>
      </div>
    </div>
  </div>

</body>


{% endblock %}